/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --title-shadow: #ff0700;
  --accent-text-color: #000028;
  --text-color: #f1b2ce;
  --background-color: #000028;
  --decor-color: #ff0070;
  --border: 1px solid rgba(50, 49, 45, 0.4);
  --article-color: #FF0070;
}
