/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--accent-text-color);
  max-inline-size: 1024px;
  background-color: var(--background-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  min-width: 375px;
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin: 0 auto;
  padding: 10px;
  margin-block-end: 40px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
}

.decor {
  position: absolute;
  top: 0px;
  right: 19px;
  display: block;
}

.decor::before {
  content: "rec";
  text-transform: uppercase;
  font-weight: 400;
  line-height: 25px;
  color: var(--accent-color);
}

.decor::after {
  content: "";
  width: 9px;
  height: 9px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-left: 10px;
  margin-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0;
  list-style: none;
}

.header__theme-menu-item {
  block-size: 30px;
  margin-bottom: 0px !important;
}

.header__theme-menu {
  place-self: center end;
  margin-top: 64px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  color: var(--decor-color);
  text-align: center;
  padding: 0 12px;
  background: none;
  border: none;
}

.header__theme-menu-button:hover {
  border: var(--border);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline-offset: 1px;
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decor-color);
  pointer-events: none;
}

.title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 700;
  font-size: var(--font-size);
  line-height: 82.5%; /* 95.7px */
  margin-bottom: 3px;
}

.header_title_position {
  margin-top: 1px;
  position: static;
  align-self: center;
}

.subtitle {
  color: var(--background-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  inline-size: 100%;
  align-self: center;
  width: 355px;
  height: min-content;
  background: var(--accent-color);
}

.main {
  padding-left: 10px;
  padding-right: 10px;
}

.article {
  display: grid;
  margin-bottom: 30px;
}

.article_title {
  color: var(--article-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  margin-bottom: 19px;
}

.article_subtitle {
  color: var(--background-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  margin-bottom: 22px;
  background-color: var(--accent-color);
}

.article_subtitle_special {
  margin-bottom: 2px;
}

.article_item {
  color: var(--background-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  background-color: var(--accent-color);
  margin-bottom: 10px;
}

.decoration_item_extra {
  margin-bottom: 20px;
}

.article_paragraph {
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  margin-bottom: 20px;
}

.link {
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}

.link:hover {
  border-bottom: solid 1px var(--text-color);
}

.link:focus {
  border: solid 1px var(--text-color);
  outline: none;
}

li:not(:last-of-type) {
  margin-bottom: 20px;
}

.pictures {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 31px;
}

.pictures_item {
  margin-bottom: 5px;
}

.pictures:nth-last-child() {
  gap: 0px;
}

.pictures_item {
  width: 355px;
}

.mount {
  height: 142px;
}

.icecream {
  height: 355px;
}

.media {
  height: 237px;
}

.books {
  height: 355px;
}

.city {
  height: 237px;
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 12px;
}

.footer_title_position {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-weight: 700;
}

/* for tablets */

@media (width >= 768px) {
  .header {
    padding: 20px;
    max-inline-size: 1440px;
    block-size: max(668px, 100vh);
    margin-block-end: 62px;
  }

  .decor {
    right: 29px;
  }

  .decor::before {
    right: 20px;
    top: 20px;
  }

  .decor::after {
    margin-top: 30px;
  }

  .header_title_position {
    position: relative;
    right: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .header__theme-menu {
    margin-top: 68px;
  }

  .header__theme-menu-list {
    gap: 3px;
    margin-inline-end: 18px;
  }

  .header__theme-menu-item {
    inline-size: 50px;
    block-size: 32px;
  }

  .subtitle {
    place-self: center end;
    width: 364px;
    height: min-content;
  }

  .article {
    grid-template-columns: fit-content(236px) 1fr;
    margin-bottom: 60px;
  }

  .article_title {
    margin-left: 10px;
    width: 236px;
  }

  .article_subtitle {
    width: 472px;
    height: fit-content;
    margin-left: 20px;
  }

  .article_list {
    margin-left: 20px;
  }

  .article_item {
    margin-bottom: 9px;
  }

  .article_special {
    grid-template-rows: fit-content(236px) 1fr;
    grid-template-columns: 1fr;
  }

  .list {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    grid-column: 1/3;
    margin-right: 10px;
  }

  li:not(:last-of-type) {
    margin-bottom: 2px;
  }

  .list_special {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: -70px;
    margin-left: 20px;
  }

  .article_subtitle_special {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    width: 100%;
    margin-top: 4px;
    margin-left: 0px;
  }

  .pictures_item {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 59px;
  }

  .mount {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .icecream {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .media {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .books {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .city {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer_title_position {
    margin-bottom: 10px;
  }
}

/* for desktop */

@media (width >= 1024px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header {
    margin-block-end: 59px;
  }

  .decor::before {
    position: absolute;
  }

  .header__theme-menu {
    place-self: start center;
    margin-top: 0px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 30px;
  }

  .subtitle {
    width: 491px;
  }

  .article {
    grid-template-columns: fit-content(315px) 1fr;
    margin-bottom: 80px;
  }

  .article_title {
    margin-left: 0px;
    width: 315px;
  }

  .article_subtitle {
    max-block-size: 25px;
    width: 649px;
  }

  .article_subtitle_special {
    width: 100%;
  }

  .article_paragraph {
    margin-bottom: 0px;
  }

  .article_extra {
    width: 315px;
  }

  .list-item_special {
    margin-bottom: 0px;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .list_special {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    gap: 0px;
    margin-left: 20px;
  }

  li:not(:last-of-type) {
    margin-bottom: 22px;
  }

  .pictures {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    position: relative;
    top: 20px;
  }
}
