/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --title-color: #DB00FF;
  --title-shadow: #FF0700;
  --accent-text-color: #000028;
  --text-color: #F1B2CE;
  --background-color: #000028;
  --font: "IBM Plex Mono", monospace;
  --font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (min-width: 768px) {
  :root {
    --font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)
  }
}
